// Load base dependencies
@import "../../bower_components/fontawesome/scss/font-awesome.scss";
// Load modules
@import "modules/colours";
@import "modules/common";
// Load partials
@import "partials/typography";
// Load vendor plugins
//@import "path-to-vendor-plugins"
/* Base styles
   ========================================================================== */

body {
    background: $blue;
}

header {
    padding: 1em 0;
}

canvas {
    border: 1px solid $blue;
    background: #fff;
}

main .row {
    text-align: center;
    padding: 1.5em 0;
}

footer {
    margin-top: 2em;
    padding: 1em;
    color: #fff;
}
